@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.span-anim {
  color: black;
  display: block;
  font-size: 15vh;
  font-weight: bold;
  position: relative;
  transition: color 250ms ease-in-out;
}

.span-anim::before {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: text 10s infinite alternate calc(var(--delay, 0) * 1s);
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    var(--start-color),
    var(--end-color)
  );
  content: attr(data-content);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

@keyframes text {
  0%,
  60% {
    opacity: 0;
  }

  20%,
  40% {
    opacity: 1;
  }
}

